# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\svn\java_space\springcloud-ly-template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
